@model Mvc_curso.Domain.Entities.Student;

<h1>Form Delete</h1>

<form asp-action="Destroy" asp-controller="Student" method="post">
    <input asp-for="Id" type="number" hidden />
    <div class="mb-3">
        <input asp-for="FullName" type="type" class="form-control" placeholder="Full Name" disabled/>
    </div>
    <div class="mb-3">
        <input asp-for="Age" type="type" class="form-control" placeholder="Age" disabled />
    </div>
    <div class="mb-3">
        <input asp-for="Country" type="type" class="form-control" placeholder="Country" disabled />
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Student" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>